body {
  background-color: #f4f7f6;
  margin: 0 auto;
}

nav {
  position: block;
  margin: 0 auto;
  width: 100%;
  height: 101x;
  display: grid;
  grid-template-columns: 1fr 1fr 5fr 1fr 2fr;
  z-index: 2;
}

.menu-button {
  height: 20px;
  padding: 40px;
  border: 1px solid #e5e5e5;
  background-color: #f4f7f6;
}

.finder {
  height: 20px;
  padding: 40px;
  background-color: #f4f7f6;
  border: 1px solid #e5e5e5;
}

.finder-image {
  height: 26px;
}

.web-name {
  height: 20px;
  padding: 40px;
  background-color: #f4f7f6;
  text-align: center;
  border: 1px solid #e5e5e5;
}

.register-login {
  height: 20px;
  padding: 40px;
  background-color: #f4f7f6;
  text-align: center;
  border: 1px solid #e5e5e5;
}

.submit-button {
  height: 20px;
  padding: 40px;
  background-color: #67f29f;
  text-align: center;
  border: 1px solid #e5e5e5;
}

.filter-bar {
  display: flex;
  justify-content: space-between;
  padding: 0px 277px 0px 140px;
  position: block;
  margin-top: 0px;
  padding-top: 50px;
}

.content {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-template-rows: 4fr 4fr 4fr;
  grid-gap: 30px;
  padding: 100px 70px 100px 70px;
  align-items: center;
}

.card {
  width: 365px;
  height: 380px;
  padding: 0px 30px 0px 30px;
}

.thumbnail-pic {
  width: 365px;
}

.description-box {
  width: 365px;
  height: 165px;
  background-color: white;
}

.load-more-button {
  margin: 50px 640px 50px 640px;
  padding: 10px 10px 10px 10px;
  color: grey;
  background-color: white;
  border: 1px solid #e5e5e5;
}

.footer {
  background-color: white;
  height: 260px;
  padding: 50px;
}

.tagline {
  padding: 10px 0px 30px 0px;
}

.footer-menu {
  padding: 0px;
}

.footer-menu li {
  display: inline;
  padding: 10px 10px 10px 0px;
}

.footer-menu li a {
  color: black;
  text-decoration: none;
}

.footer-menu li a:hover {
  color: grey;
}

.social-media-icons {
  padding: 0px;
}

.social-media-icons li {
  display: inline;
  padding: 10px 40px 10px 0px;
}

.socmed-icon {
  width: 30px;
  height: 30px;
}
